.app {
  display: flex;
  margin: 0 auto;
  max-width: auto;
  padding: 0 15px;
  min-height: 100vh;
  border-radius: 10px;
  flex-direction: column;
  background-color: #fcf9f9;
}

@media (max-width: 800px)
{
  .app{
    padding: 0 10px;
    min-height: 90vh;
  }
}
